@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
}

body {
    background-image:  url(images/bg-pattern-top.svg);
    background-color: hsl(185, 75%, 39%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.main {
    width: 300px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 150px;
    position: relative;
    background-image: url(images/bg-pattern-top.svg);
    background-size: 20px;
    background-color: hsla(185, 75%, 39%, 0.7);
}

.image img {
    border-radius: 50%;
    border: 5px solid white;
    position: absolute;
    top: 65%;
}

.name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 60px 0 10px;
}
.name span {
    display: flex;
    gap: 10px;
}

.name span p, .location {
    color: hsl(227, 10%, 46%);
}

.location {
    margin-bottom: 10px;
}

hr {
    color: hsl(227, 10%, 46%);
    opacity: 0.3;
    font-size: 1px;
}
.metrics {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 20px 0;
}

.metrics span {
   text-align: center;
}

.metrics p {
    color: hsl(227, 10%, 46%);
    opacity: 0.8;
}


/* MOBILE FIRST DESIGN */
@media (max-width: 375px) {
    .main {
        width: 300px;
        background-color: white;
        border-radius: 10px;
        overflow: hidden;
    }
    
    .image {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 300px;
        height: 150px;
        position: relative;
        background-image: url(images/bg-pattern-top.svg);
        background-size: 20px;
        background-color: hsla(185, 75%, 39%, 0.7);
    }
    
    .image img {
        border-radius: 50%;
        border: 5px solid white;
        position: absolute;
        top: 65%;
    }
    
    .name {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 60px 0 10px;
    }
    .name span {
        display: flex;
        gap: 10px;
    }
    
    .name span p, .location {
        color: hsl(227, 10%, 46%);
    }
    
    .location {
        margin-bottom: 10px;
    }
    
    hr {
        color: hsl(227, 10%, 46%);
        opacity: 0.3;
        font-size: 1px;
    }
    .metrics {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        padding: 20px 0;
    }
    
    .metrics span {
       text-align: center;
    }
    
    .metrics p {
        color: hsl(227, 10%, 46%);
        opacity: 0.8;
    } 

}



