@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    /* PRIMARY TEXT COLORS */
    --very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);

    /* BACKGROUND GRADIENT */
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);

    /* NEUTRAL TEXT COLORS */
    --very-dark-grayish-blue: hsl(237, 12%, 33%);
    --dark-grayish-blue: hsl(240, 6%, 50%);

    /* HORIZONTAL RULE */
    --light-grayish-blue: hsl(240, 5%, 91%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

/* DESKTOP DESIGN */
@media (min-width: 376px) {
    body {
        background-image: linear-gradient(var(--soft-violet), var(--soft-blue));
        display: flex;
        height: 100vh;
        align-items: center;
        justify-content: center;
    }

    #main {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        width: 750px;
        height: 450px;
        overflow: hidden;
    }

    .img {
        width: 50%;
        position: relative;
        top: 30%
    }

    #screen {
        width: 350px;
        transform: translate(-50px, 50%);
        position: relative;
        z-index: 1;
    }

    #bg {
        width: 600px;
        transform: translate(-50%, -55%);
    }

    #box {
        width: 120px;
        transform: translate(-670%, 5%);
        position: relative;
        z-index: 2;
    }
}