@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    /* PRIMARY TEXT COLORS */
    --very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);

    /* BACKGROUND GRADIENT */
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);

    /* NEUTRAL TEXT COLORS */
    --very-dark-grayish-blue: hsl(237, 12%, 33%);
    --dark-grayish-blue: hsl(240, 6%, 50%);

    /* HORIZONTAL RULE */
    --light-grayish-blue: hsl(240, 5%, 91%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

/* MOBILE DESIGN */

@media  (max-width: 375px) {
    body {
        background-image: linear-gradient(var(--soft-violet), var(--soft-blue));
        display: flex;
        width: 100vh;
        align-items: center;
        justify-content: center;
    }
    
    #main {
        margin: 100px;
        display: flex;
        flex-direction: column;
        flex: 0 0 auto;
        align-items: center;
        justify-content: center;
        background-color: white;
        width: 300px;
        border-radius: 20px;
    }

    .img {
        width: 45%;
        position: absolute;
        top: 40px;
        right: -60px;
    }

    #screen {
        width: 250px;
        transform: translate(-50px, -50px);
        position: relative;
        z-index: 1;
    }

    #bg {
        width: 250px;
        transform: translate(-50px, -260px);
    }

    #box {
        width: 80px;
        transform: translate(-380px, -300px);
        position: relative;
        z-index: 2;
    }

    .faq {
       margin: 150px 20px;
     }
 
     .faq h1 {
         font-weight: 700;
         text-align: center;
         padding-bottom: 20px;
     }
 
     .faq p {
         font-weight: 400;
         font-size: 14px;
         color: var(--very-dark-desaturated-blue);
         padding: 10px 0;
         display: flex;
         justify-content: space-between;
         gap: 50px;
         }
 
     .faq p:hover {
         cursor: pointer;
         color: var(--soft-red);
     }
 
     hr {
         color: var(--light-grayish-blue);
     }
 
     .text {
         color: var(--dark-grayish-blue);
         font-size: 14px;
     }

     .dropdown {
        display: none;
    }
}


/* DESKTOP DESIGN */
@media (min-width: 376px) {
    body {
        background-image: linear-gradient(var(--soft-violet), var(--soft-blue));
        display: flex;
        height: 100vh;
        align-items: center;
        justify-content: center;
    }

    #main {
        display: flex;
        flex: 0 0 auto;
        align-items: center;
        justify-content: center;
        background-color: white;
        width: 750px;
        height: 450px;
        overflow: hidden;
        border-radius: 20px;
    }

    .img {
        width: 45%;
        position: relative;
        top: 30%
    }

    #screen {
        width: 350px;
        transform: translate(-74px, 49%);
        position: relative;
        z-index: 1;
    }

    #bg {
        width: 600px;
        transform: translate(-50%, -55%);
    }

    #box {
        width: 120px;
        transform: translate(-670%, 5%);
        position: relative;
        z-index: 2;
    }

    .faq {
       height: inherit;
       margin-top: 150px;
       margin-right: 50px;
    }

    .faq h1 {
        font-weight: 700;
        padding-bottom: 20px;
    }

    .faq p {
        font-weight: 400;
        font-size: 14px;
        color: var(--very-dark-desaturated-blue);
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        gap: 50px;
        }

    .faq p:hover {
        cursor: pointer;
        color: var(--soft-red);
    }

    hr {
        color: var(--light-grayish-blue);
    }

    .text {
        color: var(--dark-grayish-blue);
        font-size: 14px;
    }
    
    .faq .text {
        display: none;
    }
    
    .faq .dropdown-visible {
        display: block;
    }
}


