@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;

}

:root {
    /* PRIMARY COLORS */
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink:hsl(333, 80%, 67%);
    
    /* NEUTRAL COLORS */
    --dark-grayish-magenta:hsl(303, 10%, 53%);
    --light-grayish-magenta:hsl(300, 24%, 96%);
    --white:hsl(0, 0%, 100%);


}

body {
    background-color: var(--white);
}

main {
    width: 350px;
}

h1 {
    color: var(--very-dark-magenta);
}

p {
    font-size: 16px;
}

span#paragraph > p {
    text-align: center;
    color: var(--dark-grayish-magenta);
    font-weight: 500;
    line-height: 20px;
    font-size: large;
}

/* MOBILE DESIGN APPROACH */
@media (max-width: 375px) {
    h1 {
        text-align: center;
        margin-top: 30px;
    }

    
        
}

