  @import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 30px;
}

/* MOBILE DESIGN */ 
@media (max-width: 375px) {
  .logo {
    margin: 60px 0 30px;
  }

  .logo img {
    width: 60px;
  }

  .header-text {
    margin-bottom: 20px;
  }
  .header-text p {
    color: hsl(0, 0%, 59%);
    margin-bottom: 15px;
  }
  
  .header-text span {
    color: hsl(209, 33%, 12%);
    font-weight: 700;
  }
  
  .header-text p + p {
    color: hsl(209, 33%, 12%);
    font-weight: 300;
    font-size: 12px;
    text-align: center;
  }
  
  .input form{
    margin-bottom: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .input input {
    all: unset;
    border: 1px hsl(0, 0%, 59%) solid;
    border-radius: 30px;
    height: 40px;
    width: 240px;
    padding: 0 20px;
    margin-bottom: 10px;
  }
  
  #email-input::placeholder {
    font-size: 12px;
  }
  
  .input button {
    all: unset;
    font-weight: 600;
    font-size: 0.7rem;
    color: white;
    text-transform: capitalize;
    width: 240px;
    height: 40px;
    padding: 0 20px;
    text-align: center;
    border-radius: 30px;
    background-color: hsl(223, 87%, 63%);
  }
  
  .input button:hover {
    cursor: pointer;
  }
  
  .input button:active {
    background-color: hsl(223, 100%, 88%);
    cursor: pointer;
  }

  .img {
   margin: 60px 0;
  }
  
  .img img {
    width: 310px;
  }
  
  .contacts {
    margin: 30px 0;
    display: flex;
  }
  
  .contacts i {
    margin: 0 20px;
    color: hsl(223, 87%, 63%);
    background-color: rgb(250, 250, 250);
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    text-shadow: 1px;
    border: 1px hsla(0, 0%, 59%, 0.1) solid;
  }
  
  .contacts + p {
    margin-bottom: 40px;
    font-size: 12px;
    color: hsl(0, 0%, 59%);
  }
}

/* DESKTOP DESIGN */

@media (min-width: 376px) {
  .logo {
    margin: 60px 0 30px;
  }
  
  .logo img {
    width: 80px;
  }
  
  .header-text {
    margin-bottom: 20px;
  }
  .header-text p {
    color: hsl(0, 0%, 59%);
    margin-bottom: 15px;
    font-size: 40px;
  }
  
  .header-text span {
    color: hsl(209, 33%, 12%);
    font-weight: 700;
    font-size: 40px;
  }
  
  .header-text p + p {
    color: hsl(209, 33%, 12%);
    font-weight: 300;
    font-size: 16px;
    text-align: center;
  }
  
  .input form{
    margin-bottom: 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
  
  .input input {
    all: unset;
    border: 1px hsl(0, 0%, 59%) solid;
    border-radius: 30px;
    height: 45px;
    width: 340px;
    padding: 0 20px;
  }
  
  #email-input::placeholder {
    font-size: 16px;
  }
  
  .input button {
    all: unset;
    font-weight: 600;
    font-size: 0.8rem;
    color: white;
    text-transform: capitalize;
    width: 140px;
    height: 45px;
    padding: 0 20px;
    text-align: center;
    border-radius: 30px;
    background-color: hsl(223, 87%, 63%);
  }
  
  .input button:hover {
    cursor: pointer;
  }
  
  .input button:active {
    background-color: hsl(223, 100%, 88%);
    cursor: pointer;
  }
  
  .error-msg {
    padding-left: 10px;
    font-size: 12px;
    font-weight: 300;
    font-style: italic;
    color: red
  }

  .img {
   margin: 40px 0;
  }
  
  .img img {
    width: 600px;
  }
  
  .contacts {
    margin: 30px 0;
    display: flex;
  }
  
  .contacts i {
    margin: 0 20px;
    color: hsl(223, 87%, 63%);
    background-color: rgb(250, 250, 250);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    text-shadow: 1px;
    border: 1px hsla(0, 0%, 59%, 0.1) solid;
  }
  
  .contacts + p {
    margin-bottom: 40px;
    font-size: 14px;
    color: hsl(0, 0%, 59%);
  }
}