* {
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');

:root {
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --desaturated-dark-blue: hsl(214, 17%, 51%);
    --grayish-blue: hsl(212, 23%, 69%);
    --light-grayish-blue: hsl(210, 46%, 95%);
}

body {
    display: flex;
    width: 100%;
    background-color: var(--light-grayish-blue);
}

/* MOBILE DESIGN */
@media screen and (max-width:375px) {
    .container {
        width: 350px;
        margin: 20px;
        background-color: hsl(0, 0%, 100%);
        border-radius: 12px;
        overflow: hidden;
    }

    .main {}

    .image {}

    .image img {
        width: 350px;
    }

    .text {
        margin: 30px;
        font-size: 15px;
    }
    
    .text > p:first-child {
        font-weight: 500;
        color: var(--very-dark-grayish-blue);
        margin-bottom: 15px;
        line-height: 1.2rem;
    }

    .text > p:nth-child(2) {
        margin-bottom: 30px;
    }




}