* {
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');

:root {
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --desaturated-dark-blue: hsl(214, 17%, 51%);
    --grayish-blue: hsl(212, 23%, 69%);
    --light-grayish-blue: hsl(210, 46%, 95%);
}

body {
    display: flex;
    width: 100%;
    background-color: var(--light-grayish-blue);
}

.share {
    position: absolute;
}

.share img:hover {
    background-color: var(--very-dark-grayish-blue);
    cursor: pointer;
}

.share-icons {
    position: absolute;
    transform: translate(100px, -60px);
    padding: 5px 15px;
    display: flex;
    align-items: center;
    background-color: var(--very-dark-grayish-blue);
    border-radius: 5px;
    box-shadow: 0px 0px 10px 10px hsla(217, 19%, 35%, 0.1);
}

.share-icons:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position:absolute;
    pointer-events: none;
    border-color: rgba(72, 85, 106, 0);
    border-top-color: #48556a;
}

.share-icons span {
    color: var(--grayish-blue);
    font-size: 12px;
    letter-spacing: 2px;
}

.share-icons * {
    padding: 8px;
}

.share-icons img {
    width: 30px;
}

.attribution {
    margin: 30px;
    text-align: center;
}

.attribution a {
    text-decoration: none;
    color: var(--very-dark-grayish-blue);
}

.attribution a:hover {
    text-decoration: underline;
}

.attribution a:visited {
    color: var(--desaturated-dark-blue);
}

.attribution i {
    font-size: 30px;
    vertical-align: middle;
    transition: transform 0.3s ease-in-out;
}

.attribution i:hover {
    transform: rotate(360deg) scale(1.5);
    cursor: pointer;
}

.text>p:first-child {
    font-weight: 600;
    color: var(--very-dark-grayish-blue);
    line-height: 1.4rem;
}

.text>p:nth-child(2) {
    color: var(--grayish-blue);
}

.name p:first-child {
    font-weight: 600;
    margin-bottom: 8px;
    color: var(--very-dark-grayish-blue);
    font-size: 14px;
}

.name p:nth-child(2) {
    color: var(--grayish-blue);
    font-size: 14px;
}

.share img {
    border-radius: 50%;
    background-color: var(--light-grayish-blue);
    padding: 10px;
}

/* MOBILE DESIGN */
@media screen and (max-width:375px) {
    .container {
        width: 350px;
        margin: 20px;
        background-color: hsl(0, 0%, 100%);
        border-radius: 12px;
        overflow: hidden;
    }

    .image img {
        width: 350px;
    }

    .text {
        margin: 30px;
        font-size: 15px;
    }

    .text>p:first-child {
        margin-bottom: 15px;
    }

    .text>p:nth-child(2) {
        margin-bottom: 30px;
    }

    .person {
        display: flex;
        align-items: center;
    }

    .user-image img {
        width: 50px;
        border-radius: 50%;
    }

    .name {
        margin-left: 15px;
        margin-right: 30px;
    }
}

/* DESKTOP DESIGN */
@media (min-width: 376px) {
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background-color: var(--light-grayish-blue);
    }

    .main {
        display: flex;
        height: 280px;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        background-color: hsl(0, 0%, 100%);
        border-radius: 10px;
        overflow: hidden;
    }

    .image {
        height: 280px;
    }

    .image img {
        width: 350px;
    }

    .text {
        padding: 30px;
    }

    .long {
        font-size: 20px;
        width: 400px;
    }

    .long2 {
        width: 450px;
        line-height: 1.4rem;
        padding-top: 20px;
    }

    .person {
        display: flex;
        padding-top: 20px;
        align-items: center;
    }

    .user-image img {
        width: 50px;
        border-radius: 50%;
    }

    .name {
        padding-left: 15px;
    }

    .name p {
        margin-bottom: 0;
    }

    .share {
        margin-left: 180px;
    }


}